{% extends "DirigendoFrontEndBundle::layout.html.twig" %}
{% block title %}{{ content.Title }}{% endblock %}
{% block description %}{{content.Description}}{% endblock %}
{% block keywords %}{{content.Keywords}}{% endblock %}
{% block javascripts %}
{{ parent() }} 
{% endblock %}
{% block white_content %}
        <div id="banner" style="background-repeat: no-repeat; background-image: url({{asset('bundles/dirigendofrontend' ~ content.HeaderImage)}}); position:relative;" alt="<? echo $keyword ?>">
            <div id="tagline"></div>
            <div id="taglineText"><h1 style="font-size:{{ content.TagLineTextSize }}px; display: table-cell; height: 65px;  width: 940px;  vertical-align: middle;">{{content.TagLine}}</h1>
            </div> 
        </div>
            <div style="width: 960px; text-align: center; margin-top: 15px; margin-bottom: 10px;">
                <img src="{{ asset('bundles/dirigendofrontend/images/123.png') }}" alt="dirigendo 123">
            </div> 
{% endblock %}
 
{% block gray_content %}
{% set formWidthCalculated = content.formWidth + content.FormPaddingLeft + content.FormPaddingRight %}
            <div id="content_box">
                <div id="left-content-box" style="width: {{940 - formWidthCalculated}}px;">

                               {% for b in benefits %}    

            <div  class="benefit">
                <img src="{{asset('bundles/dirigendofrontend/images/icons/arrow.png')}}" alt="checkbox"></div>
            <div class="benefitdesc">
                <h2>{{ b.header }}</h2>
                            {{ b.text }}
            </div>
            <div style="clear: both"></div>

                                        {% endfor %}    
                    <div style="clear: both; height: 20px;"></div>
                    <img src="{{ asset('bundles/dirigendofrontend/Images/hrsmall.png') }}" alt="hrsmall">
                    <div id="content_box1" style="width: 100%;">
                   {% include template_from_string(content.ContentBox1) %}
                    </div>
                </div>
                <div id="right-content-box" style="position: relative; width: {{ formWidthCalculated}}px; margin-bottom: 15px;">
                    <div id="formheader" style=" width: {{formWidthCalculated}}px;">
                        <table style="height: 95px; width: {{ formWidthCalculated}}px;">
                            <tr>
                                <td>
                                    <div style="padding-left:25px; padding-right: 90px;"> {{ content.FormHeader|raw}}</div>
                                </td>
                                <td><img src="{{ asset('bundles/dirigendofrontend/Images/form-header.png') }}" alt="formheader" id="formheaderimage"></td>
                            </tr>
                        </table>
                    </div>
                    <iframe class="contentIframe" id="iframe" style="width: {{content.formWidth - 2 }}px; height:{{ content.FormHeight}}px; padding-top:{{ content.FormPaddingTop}}px; padding-left:{{ content.FormPaddingLeft}}px; padding-right:{{ content.FormPaddingRight}}px; padding-bottom:{{ content.FormPaddingBottom}}px;" frameborder="0" allowtransparency="true" src="{{ content.FormURL}}">
                    </iframe>
                    <img src="{{ asset('bundles/dirigendofrontend/Images/freelabel.png') }}" style="z-index: 100;    height: 81px;  right: -3px; position: absolute; top: -3px; width: 81px;" alt="gratis">
                </div>
                <div class="clear"></div>
                <div style="width: 960px;">
                    <img src="{{ asset('bundles/dirigendofrontend/Images/endhr.png') }}" style="margin: 0 auto; display: block;" alt="hr">  
                </div>
                <div id="reviews">

                </div>
            </div>
{% endblock %}